@model IEnumerable<mozzhhevelnik.Models.customers>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name or login: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("login", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("name", "Index", new { sortOrder = ViewBag.ContSortParm })
        </th>
        <th>
            <p>contact info</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivery)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @if (User.Identity.Name == "administrator@mozzhhevelnik.ru")
            {
                 @Html.ActionLink("Delete", "Delete", new { id = item.id })
            }
        </td>
    </tr>
}

</table>
