@model mozzhhevelnik.Models.supplyment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>supplyment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.summ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.summ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disks.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disks.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplier.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
